{% extends "::back.html.twig" %}

{% block title %}Zarządzanie produktami{% endblock %}
{% block description %}tworzenie/edycja produktu{% endblock %}

{% block active_name %}chiave_gallery_files{% endblock %}

{% block body -%}

    {{ form(form) }}

    <a class="small button" href="{{ path('chiave_gallery_files') }}">
        Powrót do listy produktów
    </a>

{% endblock %}
