{% extends "::back.html.twig" %}

{% block title %}Zarządzanie galeriami{% endblock %}
{% block description %}tworzenie/edycja galerii{% endblock %}

{% block active_name %}chiave_gallery_categories{% endblock %}

{% block body -%}

    {{ form(form) }}

    <a class="small button" href="{{ path('chiave_gallery_categories') }}">
        Powrót do listy galerii
    </a>

{% endblock %}
