body, html
{
	width:100%;
	height:100%;
	background: rgb(222, 255, 193);
}

#page
{
	width:100%;
	font-family: 'Alegreya', sans-serif;
	position: relative;
	min-height: 100%;
	overflow: hidden;
}

#header
{
	width:100%;
	height:100px;
	background:#65AC1D;
}
#footer
{
    width:100%;
    position: absolute;
    bottom:0px;
    background:#65AC1D;
    height: 60px;
}

.fullWrapper
{
	max-width:1005px;
	margin:0px auto;
}


.leftSide
{
	width:23%;
 	padding-bottom:5px; 
	float:left;
	
}
.mainSide
{
	width:77%;
	float:left;
 	padding-bottom: 70px; 
}

@media all and (max-width:600px) {
    .leftSide
    {
    width:100%;
    float:none;  
    }
    .mainSide
    {
        width:100%;
        float:none;
    }
	.mainContent p
	{
	   padding:10% 1%;
	}
	
}


.verticalMenu
{
	margin-top: 10px;
}
.verticalMenu ul
{
    width:95%;
    margin: 0;
    padding: 0;
}
.verticalMenu li
{
	width:90%;
}
.verticalMenu ul li a
{
	display:block;
	width:100%;
	padding:10px;
	background:#7FE617;
	border-top:2px solid #99FF31;
	border-radius:3px;
	text-decoration: none;
	color:#404040;
	font-size: 16px;
}
.verticalMenu ul li a:HOVER {
	background:#71C61C;
	color:white;
}

/* ---------------------------- kafelki -------------------- */

.tilesWrapper
{
	overflow:hidden;
	padding:10px;
}
.tile
{
	width:210px;
	height:340px;
	background:white;
	float:left;
	border-radius:2px;
	margin:10px;
	position: relative;
}
@media all and (max-width:320px)
{
	.tile
	{
	   float:none;
	   margin:10px auto;
	}
	
}
.tile h1
{
	padding:10px;
	font-size:14px;
	text-align: center;
	color:white;
	border-radius:2px;
}
.tile .brown
{
	background: #C38623;
}
.tile .green
{
    background: #58C432;
}
.tile .orange
{
    background: #FF7817;
}
.tile .darkGreen
{
    background: #287D0B;
}
.tile img
{
	width:180px;
	height:140px;
	padding:15px;
}
.tile p
{
	font-size:14px;
	text-align: justify;
	padding:10px;
}
.tile a
{
	text-decoration: none;
	padding:5px 5px;
	float:right;
	width:60px;
	border-radius:2px;
	font-size:13px;
	color:white;
	text-align: center;
	position:absolute;
	bottom: 10px;
	right:10px;
	
}


.mainContent
{
	width:98%;
	padding:1%;
	overflow: hidden;
}

.mainContent hr
{
	 border: 0;
    height: 2px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(194, 112, 7, 0.75), rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(194, 112, 7, 0.75), rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(194, 112, 7, 0.75), rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(194, 112, 7, 0.75), rgba(0,0,0,0)); 
}

.mainContent p
{
	padding:1.5% 1%;
	width:98%;
}

.mainParagraph
{
    font-size: 18px;
    text-align: justify;
    color:#805702;
    
}

ul.arrowList
{
	
}
ul.arrowList li
{
	background:url('../images/right_arrow.png') no-repeat;
	background-position:0px 10px;
	padding:10px 0px 10px 50px;
	
}

/* -------------------------------contactForm--------------------------------*/
.contactForm
{
	width:100%;
	max-width:500px;
}
.contactForm input:FOCUS
{
	outline:none;
}
.contactForm input
{
	padding:3px 10px;
	border-radius:5px;
	
	width:250px;
	margin:5px auto;
	display:block;
}

.contactForm textarea
{
	border-radius:5px;
	margin:5px auto;
	display:block;
	padding:3px 10px;
	width:100%;
	max-width:470px;
	border: 2px inset;
	font: -webkit-small-control;
	color: initial;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	text-indent: 0px;
	text-shadow: none;
}	
.contactForm textarea:FOCUS
{
	outline:none;
}
.contactForm button
{
	display:block;
	width:250px;
	height:30px;
	background:#7FE617;
	border:2px solid #99FF31;
	border-radius:3px;
	color:white;
	margin:10px auto;
	
	
}
/*--------------------------end contactForm-------------------------------------*/

/*----------------------------- styles for slider -----------------------------------*/

.slider
{
    position:relative;
    margin:15px auto; 
    max-width:500px;
}
.slider .item
{
    width:100%;
   
    
    overflow: hidden;
    display: none;
    position:absolute;
    top:0px; 
    border-radius:3px;
}
.slider .item:FIRST-CHILD
{
	display:block;
}
.slider .item:nth-child(even)
{
	  background:#63C204;
}
.slider .item:nth-child(odd)
{
	background: rgb(213, 146, 28);
}
.slider .item img
{
    float:left;
    width:200px;
    height:170px;
    margin:7px;;
}

.slider .item h1
{
	padding:1% 2%;
	color:white;
}
.slider .item p
{
   padding:1%;
    color:white;
}
/*--------------------------------------end slider -----------------------------------*/

/*--------------------- styles for gallery----------------------------------------- */

.minsWrapper
{
    
    overflow: hidden;
    height:120px;
    margin:0px auto;
    width:700px;
    position: relative;
    
    
}
.minsInner
{
    width:1200px;
    overflow:hidden;
    position: relative;
    position:absolute;
    top:0px;
    height:100px;
    left:0px;
}

.minsInner img
{
    float: left;
    width:94px;
    height:92px;
    padding:6px 3px;
    display:block;
    background:rgb(8, 189, 174);
    
}

#slideLeft
{
	position:absolute;
	left:0px;
	top:40px;
	z-index:1;
	width:20px;
	height:20px;
	opacity:0.5;
}

#slideLeft:HOVER {
	opacity:0.8;
}

#slideRight
{
    position:absolute;
    right:0px;
    top:40px;
    z-index:1;
    width:20px;
    height:20px;
    opacity:0.5;
}
#slideRight:HOVER {
    opacity:0.8;
}

@media all and (max-width: 299px) {
    .minsWrapper{
    width:200px;
    }
}

@media all and (min-width: 300px) and (max-width: 399px) {
    .minsWrapper{
    width:300px;
    }
}
@media all and (min-width: 400px) and (max-width: 499px) {
    .minsWrapper{
    width:400px;
    }
}
@media all and (min-width: 500px) and (max-width: 899px) {
    .minsWrapper{
    width:500px;
    }
}

/* -----------------lightBox------------------------*/ 
.lightboxContainer
{
    position:absolute;
    top:0;
    left:0;
    z-index:3;
    width:90%;
    height:90%;
    margin:5%;
    background:rgb(196, 196, 196);
    border-radius:5px;
    border:1px solid rgb(169, 170, 167);
}
.lightboxContainer img
{
    max-width:100%;
    height:60%;
    margin:10% auto;
    display:block;
}
.lightboxWrapper
{
    position:absolute;
    top:0px;
    left:0px;
    min-height: 100%;
    min-width: 100%;
    background:grey;
    z-index:2;
}
.lbHeader
{
    display:block;
    font-size:20px;
    font-weight:bold;
    color:black;
    text-align:center;
    position:absolute;
    top:2%;
    width:100%;
}
.lbDescription
{
    display:block;
    width:90%;
    padding:2% 5%;
    position: absolute;
    bottom:2%;
}

.lbIndex
{
    position: absolute;
    top:2%;
    right:10%;
}



/*--------------------------end styles for gallery--------------------------------*/

.googleMap
{
	width:96%;
	padding:2%;
	min-height:400px;
}
