{% extends '::front.html.twig' %}
{% block title %}
    Kontakt
{% endblock %}

{% block mainSide %}


<div class="contactForm">
{{ render(controller('ChiaveContactBundle:Frontend:renderForm')) }}
</div>
{% endblock %}



