{% extends '::front.html.twig' %}
{% block title %}
     Strona główna
{% endblock %}

{% block mainSide %}

<div class="mainContent">

	<div class="mainParagraph">
	<p>"F.H.P.U TEOFIL" - firma oparta na tradycjach rodzinnych, wywodzi się ze słynnych żurowskich wytwórców galanterii i bednarstwa. Zajmuje się produkcją i dystrybucją wszelkiego rodzaju wyrobów użytkowych z drewna niezbędnych w każdym gospodarstwie domowym. </p>
	<div class="fader">
		<img src="{{ asset('images/037.jpg') }}" />
		<img src="{{ asset('images/052.jpg') }}" />
		<img src="{{ asset('images/064.jpg') }}" />
		<img src="{{ asset('images/041.jpg') }}" />
	</div>
	<p> Jesteśmy od wielu już lat producentem artykułów gospodarstwa domowego z drewna. Są to: deski do krojenia o różnym kształcie, widelce drewniane, nożyki do masła, wałki do ciasta, deski do mięsa, młotki do mięsa, tłuczki, łyżki o dowolnych kształtach, łopatki, nożyki, stojaki, tace, wieszaki i wiele innych. Wyroby z drewna są ekologiczne i estetyczne. </p>
	<p>Można bez żadnych obaw używać je do kontaktu z żywnością. Mogą one być elementami wyposażenia naszych kuchni, stylowych restauracji, barów oraz pensjonatów.  </p>
	</div><!-- end mainParagraph -->
</div>

{% endblock %}


 {% block javascripts %}
 <script>
 
 </script>
{% endblock %} 

