{% extends '::front.html.twig' %}
{% block title %}
     Strona główna
{% endblock %}

{% block leftSide %}
 	<div class="businessCard">
        <br />
        <h2>GALANTERIA DRZEWNA "TEOFIL"</h2>
        <h3>Kazimierz Mikrut<br /> 38-247 Żurowa 205 A<br /> Tarnów, 
            Małopolska<br /> 14 6518190, 600 402 562, 602 447 248</h3>
    </div> <!-- end business card -->
{% endblock %}

{% block mainSide %}

<div id="homeSlider">
	<div id="imgWrapper">
		<img class="active" src="{{ asset('images/homefader1.jpg') }}" alt="PHOTO" />
		<img src="{{ asset('images/fader2.jpg') }}" alt="PHOTO" />
		<img src="{{ asset('images/fader3.jpg') }}" alt="PHOTO" />
	</div>
	<div class="bottom">
		<h1>LOREM IPSUM DOLOR SIT AMET</h1>
		<p>Aenean in accumsan metus, vitae tincidunt dui. Curabitur at mauris a nulla fermentum 
		scelerisque. Nulla laoreet nunc sed lectus sollicitudin tincidunt. Suspendisse potenti. 
		Proin ut risus mi. Cras pulvinar aliquam volutpat. Aenean lacus justo, egestas nec 
		posuere id, dictum sit amet metus. In hac habitasse platea dictumst.</p>
	</div><!-- end bottom -->
</div><!--end homeSLider -->


{% endblock %}



