{% extends '::front.html.twig' %}
{% block title %}
     Strona główna
{% endblock %}

{% block mainSide %}

<div class="mainContent">
	
	<h3>Kilka słów o firmie:</h3>
	<div class="mainParagraph">
	<p>"F.H.P.U TEOFIL" - firma oparta na tradycjach rodzinnych, wywodzi się ze słynnych żurowskich wytwórców galanterii i bednarstwa. Zajmuje się produkcją i dystrybucją wszelkiego rodzaju wyrobów użytkowych z drewna niezbędnych w każdym gospodarstwie domowym. </p>
	<p> Jesteśmy od wielu już lat producentem artykułów gospodarstwa domowego z drewna. Są to: deski do krojenia o różnym kształcie, widelce drewniane, nożyki do masła, wałki do ciasta, deski do mięsa, młotki do mięsa, tłuczki, łyżki o dowolnych kształtach, łopatki, nożyki, stojaki, tace, wieszaki i wiele innych. Wyroby z drewna są ekologiczne i estetyczne. </p>

    {{ render(controller('ChiaveGalleryBundle:FrontendItems:renderRandomItemsSlider', {
        'count': 5
    })) }}

	<p>Można bez żadnych obaw używać je do kontaktu z żywnością. Mogą one być elementami wyposażenia naszych kuchni, stylowych restauracji, barów oraz pensjonatów.  </p>
	<br /><hr /><br />
	<p>Ponadto produkujemy zabawki z drewna. Ostatnio są one dosyć często wybierane przez rodziców, którzy dbają o zdrowie i bezpieczeństwo swoich dzieci.</p>

    {{ render(controller('ChiaveGalleryBundle:FrontendItems:renderRandomItemsSlider', {
        'count': 5
    })) }}

	 <br /><hr /><br />

	 <ul class="arrowList">
	 	<li>Przy znacznych ilościach - atrakcyjne ceny do uzgodnienia. Uzgodniony asortyment jest realizowany terminowo w/g wcześniejszych ustaleń.</li>
	 	<li>Artykuły do przesyłki pakowane są według życzeń klientów - foliowane, w kartonach lub na paletach - tak aby transport nie sprawiał kłopotów.</li>
	 </ul>

	</div><!-- end mainParagraph -->


</div>

{% endblock %}


 {% block javascriptsready %}

{% endblock %}

