{% extends '::front.html.twig' %}
{% block title %}
     Strona główna
{% endblock %}

{% block mainSide %}

 <div class="tilesWrapper">
    {% for category in categories %}
    <div class="tile">
        <h1 class="brown">{{ category.name }}</h1>
        <img src="{{ category.file.webpath }}" alt="" />
        <p>{{ category.description }}</p>
        <a class="brown" href="">Więcej</a>
    </div>
    {% endfor %}
 </div>

{% endblock %}



